/* CSS custom properties declaration (also known as CSS  variables) using the ':root' 
   
    inside the curly braes, we're defining CSS custom properties (variables) that start with'--'

    These variables can be reused throughout the stylesheets  

*/

/* hsl meaning (Hue, Saturation and Lightness  
  Hue -> (0-360 degrees): The angle on the color wheel
    0 → Red
    120 → Green
    240 → Blue
  --------------------------------------
   
  Saturation -> (0%-100%): How "intense" the color is ! .
    0% = Gray (no color)
    100% = Full vibrant color

  --------------------------------------
  lightness -> (0%-100%): How much light is added.
    0% = Black
    50% = Normal color
    100% = White

*/



:root{
  --red:hsl(7, 99%, 70%);
  --yellow:hsl(51, 100%, 49%);
  --dark:hsl(212, 27%, 19%);
  --gary:hsl(213, 9%, 39%);
  --grayish:hsl(232, 10%, 55%);
  --dark-cyan:hsl(167, 40%, 24%);
  --dark-blue:hsl(198, 62%, 26%);
  --footer-bg:hsl(168, 34%, 41%);
  --cyan-moderate:hsl(167, 44%, 70%);

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  color: var(--grayish);
  line-height: 1.7;
}


h4{
  font-family: 'Fraunces', serif;
  color: var(--dark);
  font-weight: 900;
}

h1{
  font-family: 'Fraunces', serif;
  color: var(--dark);
  font-family: 3.5rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

h2{
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

h3{
  font-size: 1.75rem;
  margin-left: 1.5rem;
}

p{
  line-height: 1.7;
}

/* Hero Section */
.hero{
  background: url(assets/images/image-header.jpg) center/cover no-repeat ;
  min-height: 100vh;
  color: white;
}


.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
}
.logo{
  width: 170px;
  height: auto;
}

.nav-links{
  display: flex;
  gap: 3rem;
  list-style: none;
  align-items: center;
}

.nav a{
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
  transition: all 0.3 ease;
}

.nav a:hover{
  color: rgba(255, 255, 255, 0.7);
}

.nav-links .btn{
  background: white;
  color: var(--dark);
  padding: 0.9rem 1.8rem;
  border-radius: 28px;
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
  font-size: 0.85rem;
  transition: all 0.3s ease;
  display: inline-flex; /*Prevent full-width stretching*/
  justify-content: center;
  align-items: center;
  width: auto;
}


.btn:hover{
  background: rgba(255, 255, 255, 0.3);
  color: white;
}

.hamburger{
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}


/* Mobile Menu - hidden by default */
.mobile-menu{
  display: none;
  position: absolute;
  top: 6.5rem;
  left: 1.5rem;
  background: white;
  padding: 2.5rem;
  text-align: center;
  z-index: 100;
}


/*Triangle decoration at top*/
.mobile-menu::before{
  content: '';
  position: absolute;
  top: 24px;
  right: 15px;
  width: 30px;
  height: 0; 
  border-left: 24px solid transparent;
  border-bottom: 24px solid white;
}

.mobile-menu ul{
  list-style: none;
}

.mobile-menu ul li{
  margin-bottom: 2rem;
}

.mobile-menu ul li:last-child{
  margin-bottom: 0;
}

.mobile-menu a{
  text-decoration: none;
  color: var(--grayish);
  font-size: 1.25rem;
}

.btn-mobile{
  background: var(--yellow);
  color: var(--dark);
  padding: 1rem 2rem;
  border-radius:30px;
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
  font-size: 0.9rem;
  display: inline-block;
}


/*Javascript-Triggered state*/
/*Toggle visibility*/

.mobile-menu.active{
  display: block;
}


/*Hero Section content Positioning*/

.hero-content{
  text-align: center;
  position: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  justify-content: flex-end;
}

/*Hero H1 must be white */
.hero h1{
  color: #fff;

}



.arrow{
  margin-top: 4rem;
  animation: bounce 1.5s infinite;
}


/* @Keyframes animation-name 
    0% {Start} 
    0% {Middle}
    100% {End}

*/ 



@keyframes bounce {
  0%,
  100%{transform: translateY(0)}
  50%{transform: translateY(20%)}
}


/* Split Sections - Fixed Layout */

.split{
  display: flex;
  /* Makes all flex children equal height */
  /* Stretches them to match tallest sibling */
  align-items: stretch;
  min-height: auto; /*let content drive height*/
}

/* Text container */
.text{
  flex: 1 1 50%;
  padding: 8rem 6rem; /*Balanced padding*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}



/* Never shrink below your content's natural height */
/* Image container */
.image-container{
  flex: 1 1 50%;  /*Force exact 50% width on desktop*/
  position: relative;
  overflow: hidden;
  min-height: 0;  /* Allow container to shrink*/
}

/* Image fills container edge-to-edge */
.image-container img{
  width:100%;
  height: 100%;
  object-fit: cover;
  display: block; /*Removes inline layout, eliminates baseline alignment issues, no more mysterious gaps!*/
  margin: 0;
  padding: 0;
}


/* Text styling */
.text h2{
  margin-bottom: 2rem;
}

.text p{
  margin-bottom: 2.5rem;
  color: var(--grayish);
}


/* learn more link styles */
.learn{
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark);
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  /* It create positioning context for child pseudo-elements */
  position: relative; /*Allows:: After to be positioned relative to this element*/
  width: fit-content; /*No extra whitespace, perfect fit too text*/
  display: inline-flex; /*Allow better vertical alignment control*/
}

.learn:after{
  content: '';
  position: absolute;
  bottom: -2px;
  left: -8px;
  right: -8px;
  height: 10px;
  border-radius: 10px;
  opacity: 0.3; /* Visual Effects, less distracting than solid underline*/

  /* Places underline behind the text */
  /* Prevents interface with readability */
  /* Without this: underline would cover text */

  z-index: -1;
  transition: opacity 0.3s ease;
}

.learn:hover::after{
  opacity: 1;
}

.learn.yellow::after{
  background: var(--yellow);
}

.learn.red::after{
  background: var(--red);
}

.reverse .text{
  padding: 8rem 6rem;
}

.reverse{
  flex-direction: row-reverse;
}

/* Services Section */

.services{
  display: flex;
}

.service{
  flex: 1; /*All children grow/shrink equally, each takes equal share of available space*/
  min-height: 600px;
  padding: 3.5rem 2rem 3.5rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* Scales image to fill entire container */
  background-size: cover;
  /* Centers the image (optimal focal point) */
  background-position: center;
}


.service h3{
  margin-bottom: 1.75rem;
}

.service p{
  max-width: 340px;
  margin: 0 auto;
  line-height: 1.7;
  font-size: 1rem;
}

.graphic{
  background-image: url(assets/images/image-graphic-design.jpg);
  color: var(--dark-cyan);
}

.graphic h3{
  color: var(--dark-cyan);
}

.photography{
  background-image: url(assets/images/image-photography.jpg);
  color: var(--dark-blue);
}


.testimonials{
  padding: 10rem 2rem 10rem;
  text-align: center;
}


.testimonials h2{
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: var(--grayish);
  font-size: 1.25rem;
  font-weight: 900;
  margin-bottom: 5rem;
}



.testimonials-grid{
  display: flex;
  gap: 5rem;
  max-width: 1200px;
  margin: 0 auto;
}


.testimonials-grid article{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-grid article img{
  
}


















/* .testimonials {
  padding: 4rem 1.5rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.testimonials h2 {
  font-size: 30px;
  margin-bottom: 3rem;
  letter-spacing: 2px;
  color: #d8dcdf;
}

.testimonials-grid{
  
  justify-content: center;
  gap: 1.5rem;
  margin: 2rem 0;
  padding: 4rem 1.5rem;
}


article img{
  border-radius: 40px;
  display: flex;
}

.testimonials p{
  font-size: 25px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  color: rgb(197, 193, 193);
  
}

.testimonials h4{
  font-size: large;
  text-align: center;
}

.testimonials span{
  font-size: large;
  text-align: center;
}





.gallery{
  padding: -10%;
  display: flex;
}








.footer {
  background: #90d4c6;
  text-align: center;
  padding: 4rem 1rem;
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
}

.footer a {
  color: #119075;
  font-weight: 500;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
} */
